# Assignment #3, Sawyer Mason, Version 1, CS-150-01

In [3]:
cars=["Honda", "Acura", "Ford"]

In [4]:
cars.append("Toyota")

the .append() adds an element to the last position in a defined list

In [5]:
cars1=["ram", "jeep"]
cars.extend(cars1)

the .extend() function adds elements (such as an already exisiting list) to a different already exisiting list

In [8]:
cars.insert(0, "nissan")
print(cars)

['nissan', 'nissan', 'Honda', 'Acura', 'Ford', 'Toyota', 'ram', 'jeep']

the .insert() function adds an element to a list at a specific position defined in the function

In [9]:
cars.remove("ram")
print(cars)

['nissan', 'nissan', 'Honda', 'Acura', 'Ford', 'Toyota', 'jeep']

the .remove() function removes an element from a list based on the name of the element

In [14]:
cars.count("nissan")

2

the .count() function returns the amount of times an element appears in the list

In [16]:
cars.index("Honda")
print(cars)

['nissan', 'nissan', 'Honda', 'Acura', 'Ford', 'Toyota', 'jeep']

the .index() function returns a given element's position in the list aka it's index

In [17]:
cars.pop(0)
print(cars)

['nissan', 'Honda', 'Acura', 'Ford', 'Toyota', 'jeep']

the .pop function removes a function by it's index number

In [20]:
numbers=[27, 103, 2, 65]
print(numbers)
sorted(numbers)

[27, 103, 2, 65]

[2, 27, 65, 103]

the sorted() function temporarily sorts a list in accending order

In [21]:
numbers.copy()

[27, 103, 2, 65]

the .copy() function creates a copy of of previously established list

In [23]:
numbers.clear()
print(numbers)

[]

the .clear() removes a defined range or all elements from a list

In [24]:
names=list()
type(names)

list

the list() function can be used to define a list

In [25]:
names_tuple=("John", "Tim", "Roy", "Rex")

In [26]:
len(names_tuple)

4

the len() function returns how many elements are in a list or tuple

In [27]:
max(names_tuple)

'Tim'

the max() function returns a maximum value in a list or tuple. When the elements are in letters it is based on the assigned letter value in python

In [28]:
min(names_tuple)

'John'

the min() function returns a minimum value in a list or tuple. When the elements are in letters it is based on the assigned letter value in python